.bootstrap-tagsinput .tag {
  margin-right: 4px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  height: 22px;
  line-height: 22px;
  background: #ececec;
  border-color: #ececec;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #5f6366;
}

.bootstrap-tagsinput input {
  height: 22px;
  line-height: 22px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  vertical-align: middle;
  color: #585858;
  position: relative;
  padding-right: 10px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:before,
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  position: absolute;
  right: 5px;
  top: 2px;
  content: '';
  height: 10px;
  width: 1px;
  background-color: #585858;
  padding: 0;
}

.bootstrap-tagsinput .tag [data-role="remove"]:before {
  transform: rotate(45deg);
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  transform: rotate(-45deg);
}
